<div id="alerts">

    <div hidden class="alert alert-success" id="successAlert" role="alert">
        Operazione eseguita correttamente
    </div>
    <div hidden class="alert alert-danger" id="failAlert" role="alert">
        Errore nell'eseguire l'operazione
    </div>

</div>
